<div *ngIf="!quizFinished" class="fixed top-0 left-0 w-full z-10">
  <mat-progress-bar
    color="accent"
    mode="determinate"
    [value]="completionPercentage"
  ></mat-progress-bar>
</div>

<div class="p-4 sm:p-8">
  <!-- Quiz View -->
  <div *ngIf="!quizFinished" class="quiz-container" [@fadeInOut]>
    <div class="flex justify-end mb-4">
      <button mat-stroked-button color="warn" (click)="exitQuiz()">
        Exit Quiz
      </button>
    </div>
    <div *ngFor="let question of paginatedQuestions; let i = index" [id]="'question-' + question.id">
      <app-question
        [questionNumber]="currentPage * questionsPerPage + i + 1"
        [question]="question"
        (answer)="onAnswer($event)"
      ></app-question>
    </div>

    <div class="quiz-navigation mt-2">
      <button
        mat-stroked-button
        (click)="prevPage()"
        [disabled]="currentPage === 0"
      >
        Previous
      </button>
      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
      <button
        mat-stroked-button
        (click)="nextPage()"
        [disabled]="currentPage >= totalPages - 1"
      >
        Next
      </button>
    </div>

    <div class="mt-4 text-center">
      <button
        mat-raised-button
        color="primary"
        (click)="submitQuiz()"
        *ngIf="isLastPage()"
      >
        Submit Quiz
      </button>
    </div>
  </div>

  <!-- Results View -->
  <div *ngIf="quizFinished" [@fadeInOut]>
    <app-results
      [score]="score"
      [totalQuestions]="totalQuestions"
      [missedAreas]="missedAreas"
      (restart)="exitQuiz()"
    ></app-results>
  </div>
</div>
