@if (question) {
<div class="question-container">
  <mat-card class="mb-6">
    <mat-card-header>
      <mat-card-title
        ><h3 class="text-lg mb-4">
          {{ questionNumber }}. {{ question.questionText }}
        </h3></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item
          *ngFor="let option of shuffledOptions; let i = index"
          (click)="selectOption(option)"
          class="quiz-option"
          [ngClass]="{
            'correct-answer': isAnswered && isCorrect(option),
            'incorrect-answer': isAnswered && isIncorrect(option),
            'unselected-hover': !isAnswered
          }"
        >
          <span class="font-bold mr-2">{{ getLetter(i) }})</span>
          <span>{{ option.text }}</span>
        </mat-list-item>
      </mat-list>
      @if (isAnswered) {
      <div
        class="mt-4 p-4 bg-blue-100 border-l-4 border-blue-500 text-blue-700"
      >
        <p class="font-bold">Explanation</p>
        <p class="italic text-sm mb-2 text-blue-600">
          Section: {{ question.section }}
        </p>
        <p>{{ question.explanation }}</p>
      </div>
      }
    </mat-card-content>
    <mat-card-actions>
      <div class="flex-grow"></div>
      <div
        class="flex items-center space-x-1 mr-3"
        matTooltip="The number of times you got this question correct or wrong. Two correct answers awards 'mastery'."
      >
        @if (isMastered) {
          <span class="text-green-500 mr-2">Mastered</span>
        }
        <ng-container *ngFor="let result of questionHistory">
          <mat-icon
            [ngClass]="{'text-green-500': result, 'text-red-500': !result}"
          >
            {{ result ? 'check_circle' : 'cancel' }}
          </mat-icon>
        </ng-container>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
}
