.color-gradient-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.color-box {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  border-radius: 4px;
}

.red {
  background-color: hsla(0, 50%, 50%, 0.2);
}

.green {
  background-color: hsla(120, 50%, 50%, 0.2);
}
