:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.password-form, .error-screen {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

mat-form-field {
  width: 300px;
}
