@use '@angular/material' as mat;

// @tailwind base;
@tailwind components;
@tailwind utilities;

// Light theme by default
@import "@angular/material/prebuilt-themes/indigo-pink.css" (prefers-color-scheme: light);
// Dark theme when system prefers dark mode
@import "@angular/material/prebuilt-themes/pink-bluegrey.css" (prefers-color-scheme: dark);

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: 500px;
}

// Dark mode specific styles
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #303030;
  }
}